@charset "utf-8";
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
header,
main,
section,
article,
nav,
aside,
footer {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

#ex_01_header {
  width: 1200px;
  height: 90px;
  background-color: #eeffff;
  padding: 0 20px;
  margin: auto;
}
#ex_01_header .wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#ex_01_header .wrap .logo_img a img {
  height: 60px;
}
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

#ex_01_header .wrap .menu {
}

#ex_01_header .wrap .menu ul {
  display: flex;
}
#ex_01_header .wrap .menu ul li {
  margin: 0 20px;
}

#ex_01header .wrap .menu ul li a {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 90px;
  color: #1177dd;
}

#ex_01header .wrap .menu ul li a:hover {
  color: #014;
}

#ex_02 {
  width: 1200px;
  height: 90px;
  padding: 0 20px;
  margin: auto;
  background-color: #eeffff;
}

#ex_02 .wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#ex_02 .wrap .img_logo a img {
  height: 60px;
  width: auto;
}

#ex_02 .wrap .menu {
}
#ex_02 .wrap .menu ul {
  display: flex;
}
#ex_02 .wrap .menu ul li {
  font-size: 16px;
  margin: 0 20px;
  font-family: "Roboto", sans-serif;
}

#ex_02 .wrap .menu ul li a {
  color: #1177dd;
}

#ex_02 .wrap .menu ul li:hover a {
  color: #0147ad;
}

/* 구분선 어떻게? */

#ex_03 {
  width: 240px;
  padding: 10px;
  background-color: #363636;
}

#ex_03 .wrap {
  width: 100%;
  height: 100%;
  display: block;
  align-items: center;
}
#ex_03 .wrap .menu {
  width: 100%;
  height: 100%;
}
#ex_03 .wrap .menu ul {
}
#ex_03 .wrap .menu ul li {
  height: 40px;
  margin-left: 10px;
}

#ex_03 .wrap .menu ul li:nth-child(2)::after {
  content: "";
  width: 220px;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 10px;
}
#ex_03 .wrap .menu ul li:nth-child(3)::after {
  content: "";
  width: 220px;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 10px;
}
#ex_03 .wrap .menu ul li:nth-child(4)::after {
  content: "";
  width: 220px;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 10px;
}
#ex_03 .wrap .menu ul li a {
  font-size: 18px;
  color: white;
  font-weight: bold;
  line-height: 50px;
}

#ex_03 .wrap .menu ul li:hover a {
  color: #555;
}

#ex_04 {
  width: 800px;
  height: 124px;
  background-color: #ffcccc;
  padding: 50px;
}
#ex_04 .menu {
}
#ex_04 .menu ul {
  display: flex;
}
#ex_04 .menu ul li {
  background-color: #ffaaff;
  margin: 0 20px;
}
#ex_04 .menu ul li a {
  font-size: 18px;
  font-weight: bold;
  color: #363636;
}

#ex_05_menu {
  width: 100%;
  height: auto;
  background-color: #eeffff;
}

#ex_05_menu .wrap {
  width: 1200px;
  height: auto;
  background-color: transparent;
  padding: 30px 20px;
  margin: 0 auto;
}

#ex_05_menu .wrap .greece_logo {
  text-align: center;
}
#ex_05_menu .wrap .greece_logo a {
}
#ex_05_menu .wrap .greece_logo a img {
  height: 60px;
  margin-top: 30px;
}

#ex_05_menu .wrap .menu {
  margin-top: 30px;
}
#ex_05_menu .wrap .menu ul {
  display: flex;
  justify-content: center;
}
#ex_05_menu .wrap .menu ul li {
  margin: 0 20px;
}
#ex_05_menu .wrap .menu ul li a {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #1177dd;
}

#ex_05_menu .wrap .menu ul li a:hover {
  color: #0147ad;
}

#ex_06_menu2 {
  width: 100%;
  height: auto;
  background-color: #eeffff;
  margin: 0 auto;
}

#ex_06_menu2 .wrap {
  width: 1200px;
  height: auto;
  background-color: transparent;
  padding: 30px 20px;
  margin: 0 auto;
}
#ex_06_menu2 .wrap .menu2 {
}
#ex_06_menu2 .wrap .menu2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#ex_06_menu2 .wrap .menu2 ul li {
  margin: 0 20px;
}
#ex_06_menu2 .wrap .menu2 ul li a {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  vertical-align: middle;
  color: #1177dd;
}
#ex_06_menu2 .wrap .menu2 ul li a:hover {
  color: #0147ad;
}
#ex_06_menu2 .wrap .menu2 ul li a img {
  height: 60px;
  margin-top: 30px;
}

#ex_07_menu5 {
  width: 800px;
  height: 144px;
  background-color: #363636;
  margin: 0 auto;
}

#ex_07_menu5 .menu {
  padding: 50px 50px;
}
#ex_07_menu5 .menu ul {
  display: flex;
  align-items: center;
}
#ex_07_menu5 .menu ul li {
  margin: 0 20px;
  background-color: #ffaaff;
  padding: 10px 0;
}
#ex_07_menu5 .menu ul li a {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

#ex_07_menu5 .menu ul li:hover {
  background-color: #555;
}
#ex_07_menu5 .menu ul li a:hover {
  color: #ff0000;
}

#ex_08_menu6 {
  width: 800px;
  height: 144px;
  background-color: #363636;
  margin: 0 auto;
}

#ex_08_menu6 .menu {
  padding: 50px 50px;
}
#ex_08_menu6 .menu ul {
  display: flex;
  align-items: center;
}
#ex_08_menu6 .menu ul li {
  margin: 0 20px;
  background-color: #ffaaff;
  padding: 10px 0;
  position: relative;
}
#ex_08_menu6 .menu ul li a {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

#ex_08_menu6 .menu ul li:hover {
  background-color: transparent;
}

#ex_08_menu6 .menu ul li a:hover:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;
  bottom: 0;
}

#ex_09_menu7 {
  width: 800px;
  height: 144px;
  background-color: #363636;
  padding: 50px;
  margin: 0 auto;
}

#ex_09_menu7 .menu {
}
#ex_09_menu7 .menu > ul {
  display: flex;
}
#ex_09_menu7 .menu > ul > li {
  width: 120px;
  height: max-content;
  text-align: center;
  margin: 0 20px;
}
#ex_09_menu7 .menu > ul > li > a {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 10px 0;
  background-color: #ffaaff;
}
#ex_09_menu7 .menu > ul > li > ul {
  background-color: #999;
}
#ex_09_menu7 .menu > ul > li > ul > li {
  padding: 10px 0;
}
#ex_09_menu7 .menu > ul > li > ul > li a {
  display: block;
  line-height: 22px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

#ex_09_menu7 .menu ul > li > a:hover {
  background-color: transparent;
}
#ex_09_menu7 .menu > ul > li > ul:hover > li > a {
  background-color: transparent;
}

/* hover 효과 적용 뒷배경삭제 후 선 추가...? */
