@charset "utf-8";
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
header,
main,
section,
article,
nav,
aside,
footer {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

#ex_01_header {
  width: 1200px;
  height: 90px;
  background-color: #eeff;
  padding: 0 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#ex_01_header .logo_img a img {
  height: 60px;
  vertical-align: middle;
}
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#ex_01_header .menu{}



#ex_01_header .menu ul{
  display: flex;


}
#ex_01_header .menu ul li{
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 0 20px;
}

#ex_01header .menu ul li a{
  line-height: 90px;
  color: #1177dd;

}

#ex_01header .menu ul li:hover a{
  color: #014;
}